.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.titulo {
    margin: 20px;
}

.erro {
    color: red;
    font-size: 12px;
}

.botao {
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.botao:hover {
    background-color: #45a049;
}