.overlayStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalStyle {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.divBotoes {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 5px
}

.alerta {
    text-align: right;
    font-size: 10px;
    color: red;
}